/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; /*fontin peruskoko on 16px*/
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*My own style*/

html {
	height:100%
}

body {
	min-height:100%;
	position: relative;
	background-image:url('kuvat/background_pattern.png');
}

#kokosivu /*this is the whole page*/
{
	
	min-height:100%;
	width:100%;
	background-image:url('kuvat/splotches_master2.png');                  
    background-repeat:   no-repeat;
    background-position: center center; 
    background-size: contain;
   

}

@font-face {
	font-family: myFont;
	src: url(fonts/upcdl.ttf);
}

@font-face {
	font-family: myFontBold;
	src: url(fonts/upcdb.ttf);
}

header { /*header*/
	background-color:#ffffff;
	border-bottom:solid black 2px;
	height:14em;
	max-height:30%;
	min-height:100px;
	position:fixed;
	width:100%;
	z-index:80; /*if other elements on the page use z-index, this value needs to be bigger, (but not bigger than menu?)*/
}

#logo { /*website logo*/
	display:inline-block;
	float:left;
	width:15em;
	margin-left:1.5em;
	margin-top:1em;
	background-color:transparent;
}

#logo a { /*website logo*/
	background-color:transparent;
}

#logopic { /*website logo*/
	width:32em;
	background-color:transparent;
}


#profile { /*place for the profile information, box*/
	float:right;
	display:inline-block;
	width:250px;
	
	
	margin-top:1.2em;
	margin-right: 1em;
	
}

#profileboxtext {
	display:inline-block;
	padding:1em;
	float:left;
}

#profileboxpic {
	display:inline-block;
	padding: 1em;
	float:right;
}

#profilepic { /*profile picture*/
	float:right;
	display:inline-block;
}

#yourpagelink {
	background:#bdbdbd;
	padding:0.5em;
	margin-bottom:1em;
	border: solid #757575 1px;
	border-right: solid #757575 2px;
	border-bottom: solid #757575 5px;
	border-radius:5px;
}

#yourpagelink a {
	color:white;
	font-family:Corbel;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#yourpagelink a:hover {
	color: #757575;
	text-decoration: none;
}

#communityLink{ /*Div for the community link*/
	position:absolute;
	left:27em;
	top:0.6em;
}

#communityLink img{ /*img in the community link*/
	width: 20em;
}


#searchbox { /*place for the searchbar*/
	position:absolute; /* For Searchbox Placement*/
	display:inline-block;
	margin-top:auto/*1.2em*/;
	margin-left:2em;
	margin-right:2em;
	top:10em; /* For Searchbox Placement*/
	left:45em; /* For Searchbox Placement*/
	width: 25%;	/*think about this*/
}

.searchicon { /*this is div for magnifying glass image*/
	display:inline-block;
}

.searchbar { /*searchbar is in this div*/
	display:inline-block;
	width:80%; /*???*/
	
}

.searchbar input {
	padding-left:0.5em;
	color: white;
	font-family:Corbel;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	outline: none;
	background:#bdbdbd;
	border: solid #757575 1px;
	border-right: solid #757575 2px;
	border-bottom: solid #757575 5px;
	border-radius:2px;

}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

/*searchbar coding starts here*/

input[type=text] {
	width:100%;
	height:40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	font-size:20px;
}

/*input[type=text]:focus {
	width: 100%;
}*/ /*this thing changes the size of the searchbar when it's clicked*/

/*searchbar coding ends here*/


#menubtnblock {
	margin-top:20px;
	position: fixed;
	z-index: 1;
	top: 15em;;
	left: 0;
	padding-top: 60px;
	transition: 0.5s;


}

#menubtnblock img {
/*background-image:url('../kuvat/menu_opentab.png');*/
}


/*hidden navigation style starts here*/
#menuheader{
	margin-top:-80px;
	position:fixed;
	top:24em;
	width:0;
	transition: 0.5s;
	}

#menuheader img{
	width:50%;
	height:50%;
}

.sidenav {
	margin-top:19em; /*scale depending on header height*/
	height: 45em;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 100;
	left: 0;
	background-color:#f8f8f8;
	background-image:url('kuvat/splotch_2.png');
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	border-top:solid black 2px;
	border-right:solid black 2px;
	border-bottom:solid black 2px;
	border-radius: 3px;
}

.sidenav a {
	padding:8px 8px 8px 32px;
	text-decoration: none;
	display: block;
	transition: 0.3s;
	
}

.sidenav li {
	width:100%;
	margin-bottom: 1em;
	background:#bdbdbd;
	border: solid #757575 1px;
	border-right: solid #757575 2px;
	border-bottom: solid #757575 5px;
	border-radius:2px;

}

.sidenav li a {
	color:white;
	font-family:Corbel;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #757575;
}

/*.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size:36px;
	margin-left: 50px;
}*/

.topnav {
	display:none;
}

#topmenubtnblock {
	display:none;
}

.darker {
	background-color: #a9a8a8;
	}


/*hidden navigation style ends*/


#main { /*this is the page next to the hidden navigation*/
	transition: .5s;
	padding: 20px;
	margin-left:4em;
	margin-right:4em;
}
section { /*the page, this is where the content goes*/
	margin-top:14em;
	margin-bottom:4em;
	/*margin-left:auto;
	margin-right:auto;*/
	
	/*max-width:1024px;*/
	
	
	
	height:100%;
	
	/*background-color:#FFFFCC;*/
}

#sivusisalto { /*content*/
	
	padding:3em;
	background-color:transparent;
}

#mainnav {
	display: none; /*COMIC and COMMUNITY buttons HIDDEN*/
}

#subnav { /*sub navigation*/
	width:100%;
	margin:15px;
	margin-top: -40px;
}

footer { /*footer*/
	position:absolute;
	bottom:0;
	background-color:white;
	/*background-image:url('kuvat/splotch_8.png');*/
	width:100%;
	height:80px;
	border-top:solid black 2px;
	font-family: myFont;
	font-size: 14pt;
}

#footertext { /*text inside the footer bar*/
	margin-top: 1em;
	margin-left:auto;
	margin-right:auto;
	
	width:164px;
}

/*site content style starts here*/

h1 {
	
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size:42pt;
	font-family: myFontBold;
	/*Dillenia UPC Bold*/
}

h2 {
	
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size:30pt;
	font-family: myFontBold;
	padding-top:1em;
	padding-right:1em;
	/*Dillenia UPC Regular*/
}

h3 {
	font-size: 20pt;
	font-family: myFontBold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h4 {
	font-family: Calibri;
	font-weight: bold;
}

p {
	font-family: Calibri Light;
}

hr {
	display:block;
	border-top:solid black 2px;
}

.comicicon {
	width:200px;
	display:inline-block;
	margin-right:auto;
	margin-left:auto;
}

.comicicon a {
	height:100%;
	width:100%;
}


.comicicon a img {
	height:100%;
	width:auto;
	margin:auto;
}


.comicicon img {
	height:100%;
	width:auto;
	margin:auto;
}


.comicinfobox {
	display:inline-block;
	width:30%;
	height:300px;
	
	vertical-align:top;
	margin-top:1em;
	
	white-space:normal;
	
}
.centrealign {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

.adHolder {
	width:100%;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;

}

.scrollboxhorizontal {
	width:100%;
	height:320px;
	overflow-x: auto;
	overflow-y:hidden;
	
	white-space:nowrap;
	display:flex;
}

.scrollboxvertical {
	width:100%;
	height: 640px;
	overflow-x:hidden;
	overflow-y:auto;
	
	white-space:nowrap;
}

.comicreadmore {
	padding-top:10px;
}

.adBasket {
	width:300px;
	max-width: 80%;
	margin-left:auto;
	margin-right:auto;
}

.textPadding {
	padding:1em;
	
}

.editbtn {
	background:#bdbdbd;
	padding:0.5em;
	margin-bottom:1em;
	border: solid #757575 1px;
	border-right: solid #757575 2px;
	border-bottom: solid #757575 5px;
	border-radius:5px;
}

.editbtn a {
	color:white;
}

.editbtn a:hover {
	text-decoration: none;
	color: #757575;
}

.categoryrow a{
	color:black;
	font-size:20pt;
	font-family:myFont;
}

.categoryrow a:hover {
	text-decoration: none;
	color:#757575;
}


.libmenu li {
	font-family:Calibri Light;
}

.libmenu a {
	color:black;
}

.libmenu a:hover {
	text-decoration: none;
	color:#757575;
}

.communitynav p {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.communitylink a {
	color:black;
	font-family:Calibri Light;
}
.communitylink a:hover {
	text-decoration:none;
	color:#757575;
}

.whiteBox{
	background-color:rgba(255,255,255,0.95);
	padding:2em;
	border:solid black 2px;
	border-radius:0.3em;
}
.libmenu {
	padding:1.5em;
}


.addinfo{
	display:none;
	text-decoration: none;
}

.carousel-cell {
	height:400px; width:250px; padding-left:25px; padding-right:25px; border: solid black 1px; margin:auto;
}

.carouselpic img {
	border:solid black 1px;
}

.carouselpic a:hover{
	background-color:#A9A9A9;
}

.carouselpic a:hover img{
	background-color:#A9A9A9;
	width:5vw;
	height:auto;
	
}
.carouselpic a:link .addinfo{
	text-decoration: none;
}
.carouselpic a:hover .addinfo {
	display:block;
	text-decoration: none;
	
}

@media screen and (max-width: 1050px)
and (min-width: 901px) {

	header {
	min-height:150px;
	height:15%;
	}

	#logo {
	min-width:150px;
	width:30%;
	}
	
	#logopic {
		width:100%;
		height:100%;
	}
	
	#communityLink {
		left:30%;
		min-width:150px;
		min-height:40px;
		width:20%;
	}
	
	#communityLink img {
	width:100%;
	}
	
	#profile {
	max-width:30%;
	}
	#profileboxtext {
	width:50%;
	}
	
	#hdpricon {
	width: 75px;
	height: 75px;
	float:right;
	}
	
	#flagprof {
	width:30px;
	height:17px;
	}
	
	#searchbox {
	left:32%;
	width:30%;
	top:50%;
	}
	
	.sidenav {
	margin-top: 200px;
	}
	
	#menuheader {
	margin-top: -185px;
	}
	
	#menubtnblock {
	margin-top: -85px;
	}
	
	section {
	margin-top: 130px;
	}

}

@media screen and (max-width: 900px) 
and (min-width: 775px) {

	header {
	min-height:150px;
	height:15%;
	}
	
	#logo {
	min-width:150px;
	width:30%;
	}
	
	#logopic {
		width:100%;
		height:100%;
	}

	#communityLink {
		left:30%;
		min-width:150px;
		min-height:40px;
		width:20%;
	}
	
	#communityLink img {
	width:100%;
	}
	
	#profile {
	max-width:30%;
	}
	
	#profileboxtext {
	width:50%;
	}
	
	#hdpricon {
	width: 75px;
	height: 75px;
	float:right;
	}

	#flagprof {
	width:30px;
	height:17px;
	}

	#searchbox {
	left:32%;
	width:30%;
	top:50%;
	}

	.sidenav {
	margin-top: 200px;
	}
	
	#menuheader {
	margin-top: -185px;
	}
	
	#menubtnblock {
	margin-top: -85px;
	}
	
	section {
	margin-top: 130px;
	}



	h2 {
	font-size:18pt;
	padding:0.5em;
	}
	
	.comicinfobox {
	height:150px;
	}
	
	.centrealign {
	width:100px;
	}
	.comicicon {
	width: 100px;
	height: 150px;
	}
	
	.comicinfotext {
	display:none;
	}
	
}

@media screen and (max-width: 774px) 
and (min-width: 701px) {

	
	header {
	height:96px;
	}
	
	#logo {
	min-width:150px;
	width:30%;
	}
	
	#logopic {
		width:100%;
		height:100%;
	}
	
	#communityLink {
		left:32%;
		min-width:150px;
		min-height:40px;
		width:20%;
	}

	#communityLink img {
	width:100%;
	}
	
	#profile {
	max-width:30%;
	}
	
	#profileboxtext {
	display:none;
	width:0;
	}

	#hdpricon {
	width: 50px;
	height: 50px;
	float:right;
	}

	#flagprof {
	display:none;
	}

	#searchbox {
	
	left:52%;
	width:235px;
	top:50%;
	}
	
	.sidenav {
	margin-top: 200px;
	}
	
	#menuheader {
	margin-top: -185px;
	}
	
	#menubtnblock {
	margin-top: -85px;
	}
	
	section {
	margin-top: 90px;
	}


	h2 {
	font-size:18pt;
	padding:0.5em;
	}
	
	.comicinfobox {
	height:150px;
	}

	.centrealign {
	width:100px;
	}
	.comicicon {
	width: 100px;
	height: 150px;
	}
	
	.comicinfotext {
	display:none;
	}


	#magnifyingglass {
	width:20px;
	height:21px;
	}
	
	#main {
	padding:5px;
	margin-left:1.7em;
	margin-right:1.7em;
	}
	
	
	.adHolder {
	display:none;
	}
	
	.libmenu {
	display:none;
	}
	
	/*NAVIGATION starts here*/

	.sidenav {
	display:none;
	}
	
	#menuheader {
	display:none;
	}
	
	#menubtnblock {
	display:none;
	}
	
	.topnav {
	display:inline;
	background-color:#f8f8f8;
	width:305px;
	position: fixed;
	z-index: 79;
	top:96px;
	right: 25px;
	margin-left:0;
	border-left:solid black 2px;
	border-bottom:solid black 2px;
	border-right: solid black 2px;
	border-radius: 3px;
	transition:0.5s;
	}
		
	.libtopnav {
	height:0px;
	overflow:hidden;
	}
		
	#topmenubtnblock {
	display:inline;
	position:fixed;
	z-index:78;
	top:96px;
	right: 25px;
	transition:0.5s;
	}
	
	#maintop {
	width:100%;
	margin-left:1.5em;
	}
	
	.topnav a {
	text-decoration: none;
	display:inline;
	}
	
	.maintopnav li {
	display:inline;
	padding:8px;
	padding-left:20px;
	padding-right:20px;
	background:#bdbdbd;
	border: solid #757575 1px;
	}
	
	.maintopnav li a {
	 color:white;
	 font-family:Corbel;
	 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	
	.maintopnav a:hover {
	color:#757575;
	}
	
	#subtop {
	width: 100%;
	margin-left:1.5em;
	}
	
	.subtopnav li {
		display:inline;
		padding:8px;
		padding-left:18px;
		background:#bdbdbd;
		border: solid #757575 1px;
	}	
	
	.subtopnav li a {
		color:white;
		font-family:Corbel;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	
	.subtopnav a:hover {
	color:#757575;
	}
	
	#subsubtop {
	width:100%;
	margin-left:1.5em;
	}
	
	.subsubtopnav {
	margin-top:1em;
	}
	
	.subsubtopnav li {
	display:inline;
	padding:8px;
	}
	
	.subsubtopnav li a {
	color:black;
	font-size:small;
	font-family:Corbel;
	}
		
	/*NAVIGATION ends here*/

	
	
}

@media screen and (max-width: 700px) 
and (min-width: 501px) {

	header {
	height:96px;
	}
	
	#logo {
	min-width:100px;
	width: 30%;
	}
	
	#logopic {
		width:100%;
		height:100%;
	}


	
	#communityLink {
		left:32%;
		min-width:150px;
		min-height:40px;
		width:20%;
	}
	
	#communityLink img {
	width:100%;
	}
	
	#profile {
	width:70px;
	max-width:30%;
	}
	
	#profileboxtext {
		display:none;
		width:0;
	}
	
	#hdpricon {
	width: 50px;
	height: 50px;
	float:right;
	}

	#flagprof {
	display:none;
	}

	#searchbox {
	display:none;
	/*left:30%;
	width:235px;
	top:50%;*/
	}
	
	.sidenav {
	margin-top: 200px;
	}
	
	#menuheader {
	margin-top: -185px;
	}
	
	#menubtnblock {
	margin-top: -85px;
	}
	
	section {
	margin-top: 90px;
	}


	h2 {
	font-size:18pt;
	padding:0.5em;
	}
	
	.comicinfobox {
	height:150px;
	}

	.centrealign {
	width:100px;
	}
	.comicicon {
	width: 100px;
	height: 150px;
	}
	
	.comicinfotext {
	display:none;
	}

	#magnifyingglass {
	width:20px;
	height:21px;
	}
	
	#main {
	padding:5px;
	margin-left:1em;
	margin-right:1em;
	}
	
	
	.adHolder {
	display:none;
	}
	
	.libmenu {
	display:none;
	}
	
	/*NAVIGATION starts here*/

	.sidenav {
	display:none;
	}
	
	#menuheader {
	display:none;
	}
	
	#menubtnblock {
	display:none;
	}
	
	.topnav {
	display:inline;
	background-color:#f8f8f8;
	width:305px;
	position: fixed;
	z-index: 79;
	top:96px;
	right: 25px;
	margin-left:0;
	border-left:solid black 2px;
	border-bottom:solid black 2px;
	border-right: solid black 2px;
	border-radius: 3px;
	transition:0.5s;
	}
		
	.libtopnav {
	height:0px;
	overflow:hidden;
	}
		
	#topmenubtnblock {
	display:inline;
	position:fixed;
	z-index:78;
	top:96px;
	right: 25px;
	transition:0.5s;
	}
	
	#maintop {
	width:100%;
	margin-left:1.5em;
	}
	
	.topnav a {
	text-decoration: none;
	display:inline;
	}
	
	.maintopnav li {
	display:inline;
	padding:8px;
	padding-left:20px;
	padding-right:20px;
	background:#bdbdbd;
	border: solid #757575 1px;
	}
	
	.maintopnav li a {
	 color:white;
	 font-family:Corbel;
	}
	
	.maintopnav a:hover {
	color:#757575;
	}
	
	#subtop {
	width: 100%;
	margin-left:1.5em;
	}
	
	.subtopnav li {
		display:inline;
		padding:8px;
		padding-left:18px;
		background:#bdbdbd;
		border: solid #757575 1px;
	}	
	
	.subtopnav li a {
		color:white;
		font-family:Corbel;
	}
	
	.subtopnav a:hover {
	color:#757575;
	}
	
	#subsubtop {
	width:100%;
	margin-left:1.5em;
	}
	
	.subsubtopnav {
	margin-top:1em;
	}
	
	.subsubtopnav li {
	display:inline;
	padding:8px;
	}
	
	.subsubtopnav li a {
	color:black;
	font-size:small;
	font-family:Corbel;
	}
	
	/*NAVIGATION ends here*/



	
}

@media screen and (max-width: 500px) { /*MOBILE*/

	header {
	height:96px;
	}
	
	#logo {
	min-width:100px;
	width: 30%;
	}
	
	#logopic {
		width:100%;
		height:100%;
	}
	
	#communityLink {
		left:32%;
		min-width:120px;
		min-height:32px;
		width:20%;
	}
	
	#communityLink img {
	width:100%;
	}

	#profile {
	width:70px;
	max-width:30%;
	margin-top:0;
	margin-right:0;
	}
		
	#profileboxtext {
		display:none;
		width:0;
	}

	#hdpricon {
	width: 40px;
	height: 40px;
	float:right;
	}

	#flagprof {
	width:30px;
	height:17px;
	}

	#searchbox {
	display:none;
	/*
	left:30%;
	width:235px;
	top:50%;*/
	}
	
	.libmenu {
	display:none;
	}
	
	/*NAVIGATION starts here*/

	.sidenav {
	display:none;
	}
	
	#menuheader {
	display:none;
	}
	
	#menubtnblock {
	display:none;
	}
	
	.topnav {
	display:inline;
	background-color:#f8f8f8;
	width:305px;
	position: fixed;
	z-index: 79;
	top:96px;
	right: 25px;
	margin-left:0;
	border-left:solid black 2px;
	border-bottom:solid black 2px;
	border-right: solid black 2px;
	border-radius: 3px;
	transition:0.5s;
	}
		
	.libtopnav {
	height:0px;
	overflow:hidden;
	}
		
	#topmenubtnblock {
	display:inline;
	position:fixed;
	z-index:78;
	top:96px;
	right: 25px;
	transition:0.5s;
	}
	
	#maintop {
	width:100%;
	margin-left:1.5em;
	}
	
	.topnav a {
	text-decoration: none;
	display:inline;
	}
	
	.maintopnav li {
	display:inline;
	padding:8px;
	padding-left:20px;
	padding-right:20px;
	background:#bdbdbd;
	border: solid #757575 1px;
	}
	
	.maintopnav li a {
	 color:white;
	 font-family:Corbel;
	}
	
	.maintopnav a:hover {
	color:#757575;
	}
	
	#subtop {
	width: 100%;
	margin-left:1.5em;
	}
	
	.subtopnav li {
		display:inline;
		padding:8px;
		padding-left:18px;
		background:#bdbdbd;
		border: solid #757575 1px;
	}	
	
	.subtopnav li a {
		color:white;
		font-family:Corbel;
	}
	
	.subtopnav a:hover {
	color:#757575;
	}
	
	#subsubtop {
	width:100%;
	margin-left:1.5em;
	}
	
	.subsubtopnav {
	margin-top:1em;
	}
	
	.subsubtopnav li {
	display:inline;
	padding:8px;
	}
	
	.subsubtopnav li a {
	color:black;
	font-size:small;
	font-family:Corbel;
	}
	
	/*NAVIGATION ends here*/

	h2 {
	font-size:18pt;
	padding:0.5em;
	}
	
	.comicinfobox {
	height:150px;
	}

	.centrealign {
	width:100px;
	}
	.comicicon {
	width: 100px;
	height: 150px;
	}
	
	.comicinfotext {
	display:none;
	}
	
	#magnifyingglass {
	width:20px;
	height:21px;
	}
	
	#main {
	padding:5px;
	margin-left:0.5em;
	margin-right:0.5em;
	}
	
	section {
	margin-top:3em;
	}
	
	
	
	.adHolder {
	display:none;
	}
	
	/*Here is stuff for the carousel*/
	.carousel-cell{
		border: solid black 1px;
		height: 300px;
		width:200px;
	}
	
	.carouselpic{
		margin:5px;
		/*padding:2em;*/
		/*border:solid black 1px;*/
		height: 300px;
		width:200px;
	}
	
	.carouselpic img {
		max-width:100px;
		max-height:150px;
		width:100%;
		height:auto;
	}
		
	.comicreadmore {
		margin-bottom:1em;
	}
	
	#profprof {
		width:100px;
		height:100px;
	}	
	
	.whiteBox {
	padding-left:1em;
	padding-right:1em;
	padding-top:2em;
	padding-bottom:2em;
	}
	
	.seriesmenu {
	display:none;
	}
	
		

}


/*HEIGHT*/

@media screen and (max-height: 450px) 
and (min-height: 749px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}


@media screen and (max-height: 748px) {

	header {
	height:96px;
	}
	
	#logopic {
		height:90%;
		width:90%;
	}
	
	#communityLink {
		left:23%;
	}
		
	#communityLink img {
	width:75%;
	min-width:120px;
	min-height:32px;
	}
	
	#searchbox {
	left:42%;
	width:30%;
	top:40%;
	}
	
	#magnifyingglass {
	width:20px;
	height:21px;
	}
	
	#profile {
	max-height:70%;
	}
	
	#hdpricon {
	width: 40px;
	height: 40px;
	float:right;
	}

	#flagprof {
	display: none;
	}

	
	.sidenav {
	margin-top: 200px;
	}
	
	#menuheader {
	margin-top: -185px;
	}
	
	#menubtnblock {
	margin-top: -85px;
	}
}


@media screen and (max-height: 748px)
and (max-width: 1050px)
and (min-width: 901px) {
	
	#searchbox {
		top: 60%;
	}
	
	#profileboxtext {
		left:4em;
	}

}

@media screen and (max-height: 748px)
and (max-width: 900px) 
and (min-width: 775px) {
	
	#searchbox {
		top:60%;
	}
	
	#profileboxtext {
		left:4em;
	}
}

@media screen and (max-height:748px)
and (max-width: 500px) {
	#communityLink {
		left:28%;
	}
}

