/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; /*fontin peruskoko on 16px*/
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*My own style*/

html {
	height:100%
}

body {
	min-height:100%;
	position: relative;
	background-color:#CCCCFF;
	background-image:url('kuvat/background_pattern.png');
}

#kokosivu /*this is the whole page*/
{
	
	min-height:100%;
	background-image:url('kuvat/splotches_master2.png');                  
    background-repeat:   no-repeat;
    background-position: center center; 
    background-size: contain;

}

header { /*header*/
	background-color:#ffffff;
	border-bottom:solid black 2px;
	height:14em;
	position:fixed;
	width:100%;
	z-index:99; /*if other elements on the page use z-index, this value needs to be bigger*/
}

#logo { /*website logo*/
	display:inline-block;
	float:left;
	width:15em;
	margin-left:1.5em;
	margin-top:1em;
	background-color:transparent;
}

#logo a { /*website logo*/
	background-color:transparent;
}

#logopic { /*website logo*/
	width:32em;
	background-color:transparent;
}


#profile { /*place for the profile information, box*/
	float:right;
	display:inline-block;
	width:250px;
	background-color:#CCFFFF;
	
	margin-top:1.2em;
	margin-right: 1em;
	
}

#profileboxtext {
	display:inline-block;
	padding:1em;
	float:left;
}

#profileboxpic {
	display:inline-block;
	padding: 1em;
	float:right;
}

#profilepic { /*profile picture*/
	float:right;
	display:inline-block;
}

#communityLink{ /*Div for the community link*/
	position:absolute;
	left:27em;
	top:0.6em;
}

#communityLink img{ /*img in the community link*/
	width: 20em;
}


#searchbox { /*place for the searchbar*/
	position:absolute; /* For Searchbox Placement*/
	display:inline-block;
	margin-top:auto/*1.2em*/;
	margin-left:2em;
	margin-right:2em;
	top:10em; /* For Searchbox Placement*/
	left:45em; /* For Searchbox Placement*/
	width: 25%;	/*think about this*/
}

.searchicon { /*this is div for magnifying glass image*/
	display:inline-block;
}

.searchbar { /*searchbar is in this div*/
	display:inline-block;
	width:80%; /*???*/
}

/*searchbar coding starts here*/

input[type=text] {
	width:100%;
	height:40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	font-size:20px;
}

/*input[type=text]:focus {
	width: 100%;
}*/ /*this thing changes the size of the searchbar when it's clicked*/

/*searchbar coding ends here*/


#menubtnblock {
	margin-top:20px;
	position: fixed;
	z-index: 1;
	top: 15em;;
	left: 0;
	padding-top: 60px;
	transition: 0.5s;


}

#menubtnblock img {
/*background-image:url('../kuvat/menu_opentab.png');*/
}


/*hidden navigation style starts here*/
#menuheader{
	margin-top:-80px;
	position:fixed;
	top:24em;
	width:0;
	transition: 0.5s;
	}

#menuheader img{
	width:50%;
	height:50%;
}

.sidenav {
	margin-top:80px;
	height: 45em;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 100;
	left: 0;
	background-color:#f8f8f8;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	border-top:solid black 2px;
	border-right:solid black 2px;
	border-bottom:solid black 2px;
	border-radius: 3px;
}

.sidenav a {
	padding:8px 8px 8px 32px;
	text-decoration: none;
	display: block;
	transition: 0.3s;
	
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}

/*.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size:36px;
	margin-left: 50px;
}*/

/*hidden navigation style ends*/


#main { /*this is the page next to the hidden navigation*/
	transition: .5s;
	padding: 20px;
	margin-left:4em;
	margin-right:4em;
}
section { /*the page, this is where the content goes*/
	margin-top:14em;
	margin-bottom:4em;
	/*margin-left:auto;
	margin-right:auto;*/
	
	/*max-width:1024px;*/
	
	
	
	height:100%;
	
	/*background-color:#FFFFCC;*/
}

#sivusisalto { /*content*/
	
	padding:3em;
	background-color:transparent;
}

#mainnav { /*main navigation*/
	margin:10px;
	
	
}

#subnav { /*sub navigation*/
	margin:10px;
	padding-left:1em;
	padding-top:1em;
}

footer { /*footer*/
	position:absolute;
	bottom:0;
	background-color:#FFCCCC;
	width:100%;
	height:80px;
	
}

#footertext { /*text inside the footer bar*/
	margin-top: 1em;
	margin-left:auto;
	margin-right:auto;
	
	width:164px;
}

/*site content style starts here*/

h1 {
	font-size:36pt;
	/*Dillenia UPC Bold*/
}

h2 {
	font-size:30pt;
	padding:1em;
	/*Dillenia UPC Regular*/
}

.comicicon {
	width:200px;
	display:inline-block;
	margin-right:auto;
	margin-left:auto;
}

.comicicon a {
	height:100%;
	width:100%;
}


.comicicon a img {
	height:100%;
	width:auto;
	margin:auto;
}


.comicicon img {
	height:100%;
	width:auto;
	margin:auto;
}


.comicinfobox {
	display:inline-block;
	width:30%;
	height:300px;
	background-color:#FFCCCC;
	vertical-align:top;
	margin-top:1em;
	
	white-space:normal;
	
}
.centrealign {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

.adHolder {
	width:100%;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;

}

.scrollboxhorizontal {
	width:100%;
	height:320px;
	overflow-x: auto;
	overflow-y:hidden;
	
	white-space:nowrap;
	display:flex;
}

.scrollboxvertical {
	width:100%;
	height: 640px;
	overflow-x:hidden;
	overflow-y:auto;
	
	white-space:nowrap;
}

@media screen and (max-width: 1050px) {

	header {
	min-height:210px;
	height:25%;
}

	#logo {
	min-width:150px;
	width:30%;
	
	}
	#logopic {
		width:100%;
	}
	
	#communityLink {
		left:30%;
		min-width:150px;
		width:30%;
	}
	#communityLink img {
	width:100%;
	}
	
	#profile {
	max-width:30%;
	}
	#profileboxtext {
	width:50%;
	}
	
	#searchbox {
	left:30%;
	width:30%;
	top:70%;
	}
}

@media screen and (max-width: 767px) {

	header {
	min-height:180px;
	}
	#searchbox {
	width:235px;
	}

	#flagprof {
	width:30px;
	height:17px;
	}
	
	#magnifyingglass {
	width:20px;
	height:21px;
	}
	
		
	
}

@media screen and (max-width: 670px) {

	#profile {
	 width:70px;
	}
	#profileboxtext {
		display:none;
		width:0;
	}
	
	#searchbox {
	left: 20%;
	}
	
	
}

@media screen and (max-width: 500px) {

	header {
	min-width:150px;
	}
	#communityLink {
		display:none;
	}
	
	#searchbox {
	left:1em;
	}
}


/*@media screen and (max-width: 422px) {
	header {
		height:auto;
	}
	#logo {
		margin-left:auto;
		margin-right:auto;
		float:none;
		display:block;
	}
	
	.sidenav {
	margin-top:0;
}
	#logopic {
	width:100%;
	height:100%;
}
	#searchbox {
		width: 50%;
		margin-bottom: 2em;
	}
}
*/

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.whiteBox{
	background-color:rgba(255,255,255,0.95);
	padding:2em;
	border:solid black 2px;
	border-radius:0.3em;
}

